<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Home Page</title>

    <style type="text/css" media="screen">
      * {
        box-sizing: border-box;
        font-family: "Ubuntu", monospace;
      }
      body {
        /* padding: 60px; */
        background-color: skyblue;
        text-decoration-color: white;
        font-size: 20px;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      ul {
        list-style-type: square;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>This is Home Page</h1>
      <h2>/login to access login page</h2>
    </div>
  </body>
</html>
